<div class="--component">
  <h3>MENU</h3>
  <a routerLink="" class="btn btn-link">Home</a>
  <a routerLink="/users/list" class="btn btn-link">Users</a>
  <div *ngIf="isUserAuth; then userAuth else userNotAuth"></div>
  <ng-template #userAuth>
    <a routerLink="/users/dashboard" class="btn btn-link">Dashboard</a>
    <a routerLink="/users/logout" class="btn btn-link">Logout</a>
  </ng-template>
  <ng-template #userNotAuth>
    <a routerLink="/users/login" class="btn btn-link">Login</a>
    <a routerLink="/users/registration" class="btn btn-link">Registration</a>
  </ng-template>
</div>
