<div style="color: #999;">
  HEADER<br>
  <a routerLink="">Home</a>
  <br>
  For users:
  <a routerLink="/users/list">List</a>
  |
  <a routerLink="/users/login">Login</a>
  &
  <a routerLink="/users/registration">Registration</a>
</div>
<div class="alert alert-primary" role="alert">
  Это основное уведомление — check it out!
</div>
<button type="button" class="btn btn-primary">Главный</button>
<button type="button" class="btn btn-secondary">Вторичный</button>
<button type="button" class="btn btn-success">Успех</button>
<button type="button" class="btn btn-danger">Опасность</button>
<button type="button" class="btn btn-warning">Предупреждение</button>
<button type="button" class="btn btn-info">Инфо</button>
<button type="button" class="btn btn-light">Светлый</button>
<button type="button" class="btn btn-dark">Темный</button>

<button type="button" class="btn btn-link">Линк</button>
<router-outlet></router-outlet>

<div style="color: #999;">FOOTER</div>
